.mainPage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border: 1px solid #334155;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.mainPage__cont {
  display: flex;
  flex-direction: column;
}

.mainPage__header {
  color: #e5e7eb;
  margin-bottom: 40px;
}

.mainPage__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.mainPage__navigBtn {
  border: 1px solid #334155;
  border-radius: 8px;
  padding: 16px 11px;
  color: #e5e7eb;
  text-decoration: none;
  background-color: #0f172a;
}
