.footerMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #152038;
  padding: 24px;
  border: 1px solid #354968;
  border-radius: 24px 24px 0 0;
  color: #e5e7eb;
}

.footerMenu__header {
  text-align: center;
  margin-bottom: 24px;
}

.footerMenu__body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.footerMenu__reset {
  border: 2px solid #425268;
  border-radius: 8px;
  padding: 16px 11px;
  color: #e5e7eb;
  text-decoration: none;
  background-color: #020617;
  font-weight: bold;
}

.footerMenu__info {
  display: flex;
  gap: 16px;
  align-items: center;
}

.footerMenu__status {
  margin: 0;
}

.footerMenu__backBtn {
  border: 2px solid red;
  padding: 11px 9px;
  border: 4px;
  color: rgb(181, 43, 43);
  text-decoration: none;
  background-color: transparent;
  font-weight: bold;
}
