.modal {
  position: absolute;
  border: 1px solid rgb(208, 71, 71);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border-radius: 12px;
  background-color: #0f172a;
  color: #e5e7eb;
}

.modal__header {
  text-align: center;
  margin-bottom: 12px;
}

.modal__question {
  text-align: center;
  margin-bottom: 40px;
}

.modal__btns {
  display: flex;
  justify-content: space-around;
}

.modal__btn {
  text-decoration: none;
  border: 1px solid #e5e7eb;
  text-decoration: none;
  color: #e5e7eb;
  background-color: transparent;
  padding: 11px 9px;
  border-radius: 8px;
}

.modal__out {
  border: 1px solid rgb(221, 37, 37);
  color: #ac4646;
}
