.resetModal{
    padding: 24px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 12px;
    background-color: #020617;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e5e7eb;
}

.resetModal__header{
    text-align: center;
    margin-bottom: 40px;
}

.resetModal__btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resetModal__btn{
    background-color: transparent;
    border: 2px solid #1e293b;
    border-radius: 4px;
    padding: 11px 16px;
    color: #e5e7eb;
}