.resetModal{
    background-color: #0f172a33;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #e5e7eb;
}

.resetModal__cont{
    padding: 24px;
    border-radius: 12px;
    background-color: #0f172a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e5e7eb;
    border: 2px solid #1e293b;
}

.resetModal__header{
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
}

.resetModal__btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resetModal__btn{
    background-color: transparent;
    border: 2px solid #1e293b;
    border-radius: 4px;
    padding: 11px 16px;
    color: #e5e7eb;
    font-size: 16px;
}